# This workflow will upload a Python Package using Twine when a tagged commit is pushed
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries
# and https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/

name: Upload Python Package

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel
    - name: Test with pytest
      run: |
        python -m pip install pytest
        python -m pip install pytest-cov
        export PYTHONPATH=src
        pytest --cache-clear --exitfirst --verbose --cov=LnkParse3 tests/ --cov-fail-under=85 --no-cov-on-fail
    - name: Build dist
      run: |
        python setup.py sdist bdist_wheel
    - name: Publish to PyPi
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.PYPI }}
